$BG-color: #6c94e4;
$white: #ffffff;
$green: #52a752;
$purple: #722172;


@mixin flex-column{
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* > * {
  border: inner 1px solid red;
  &* > * {
    border: inner 1px solid black;
  }
}

.app {
@include flex-column;
justify-content: space-between;
  height: 100vh;
  width: 100vw;

}
.navbar{
justify-self: flex-end;
}
ul {
    list-style-type: none;
}

footer{
  text-align: center;
}

.logo a:hover {
    text-decoration: none;
}