@mixin lightmode{
  color: black; 
  background-image: linear-gradient(
        90deg,
        rgba(165, 165, 165, 0.03) 0%,
        rgba(165, 165, 165, 0.03) 8%,
        rgba(235, 235, 235, 0.03) 8%,
        rgba(235, 235, 235, 0.03) 9%,
        rgba(7, 7, 7, 0.03) 9%,
        rgba(7, 7, 7, 0.03) 14%,
        rgba(212, 212, 212, 0.03) 14%,
        rgba(212, 212, 212, 0.03) 17%,
        rgba(219, 219, 219, 0.03) 17%,
        rgba(219, 219, 219, 0.03) 95%,
        rgba(86, 86, 86, 0.03) 95%,
        rgba(86, 86, 86, 0.03) 100%
      ),
      linear-gradient(
        67.5deg,
        rgba(80, 80, 80, 0.03) 0%,
        rgba(80, 80, 80, 0.03) 11%,
        rgba(138, 138, 138, 0.03) 11%,
        rgba(138, 138, 138, 0.03) 17%,
        rgba(122, 122, 122, 0.03) 17%,
        rgba(122, 122, 122, 0.03) 24%,
        rgba(166, 166, 166, 0.03) 24%,
        rgba(166, 166, 166, 0.03) 27%,
        rgba(245, 245, 245, 0.03) 27%,
        rgba(245, 245, 245, 0.03) 89%,
        rgba(88, 88, 88, 0.03) 89%,
        rgba(88, 88, 88, 0.03) 100%
      ),
      linear-gradient(
        67.5deg,
        rgba(244, 244, 244, 0.03) 0%,
        rgba(244, 244, 244, 0.03) 4%,
        rgba(16, 16, 16, 0.03) 4%,
        rgba(16, 16, 16, 0.03) 10%,
        rgba(157, 157, 157, 0.03) 10%,
        rgba(157, 157, 157, 0.03) 20%,
        rgba(212, 212, 212, 0.03) 20%,
        rgba(212, 212, 212, 0.03) 83%,
        rgba(5, 5, 5, 0.03) 83%,
        rgba(5, 5, 5, 0.03) 84%,
        rgba(237, 237, 237, 0.03) 84%,
        rgba(237, 237, 237, 0.03) 100%
      ),
      linear-gradient(90deg, #fff, #fff);
}
@mixin darkmode{
  color: white;  
  background-image: linear-gradient(
        231deg,
        rgba(233, 233, 233, 0.01) 0%,
        rgba(233, 233, 233, 0.01) 25%,
        rgba(10, 10, 10, 0.01) 25%,
        rgba(10, 10, 10, 0.01) 50%,
        rgba(237, 237, 237, 0.01) 50%,
        rgba(237, 237, 237, 0.01) 75%,
        rgba(200, 200, 200, 0.01) 75%,
        rgba(200, 200, 200, 0.01) 100%
      ),
      linear-gradient(
        344deg,
        rgba(2, 2, 2, 0.03) 0%,
        rgba(2, 2, 2, 0.03) 20%,
        rgba(10, 10, 10, 0.03) 20%,
        rgba(10, 10, 10, 0.03) 40%,
        rgba(100, 100, 100, 0.03) 40%,
        rgba(100, 100, 100, 0.03) 60%,
        rgba(60, 60, 60, 0.03) 60%,
        rgba(60, 60, 60, 0.03) 80%,
        rgba(135, 135, 135, 0.03) 80%,
        rgba(135, 135, 135, 0.03) 100%
      ),
      linear-gradient(
        148deg,
        rgba(150, 150, 150, 0.03) 0%,
        rgba(150, 150, 150, 0.03) 14.286%,
        rgba(15, 15, 15, 0.03) 14.286%,
        rgba(15, 15, 15, 0.03) 28.572%,
        rgba(74, 74, 74, 0.03) 28.572%,
        rgba(74, 74, 74, 0.03) 42.858%,
        rgba(175, 175, 175, 0.03) 42.858%,
        rgba(175, 175, 175, 0.03) 57.144%,
        rgba(16, 16, 16, 0.03) 57.144%,
        rgba(16, 16, 16, 0.03) 71.42999999999999%,
        rgba(83, 83, 83, 0.03) 71.43%,
        rgba(83, 83, 83, 0.03) 85.71600000000001%,
        rgba(249, 249, 249, 0.03) 85.716%,
        rgba(249, 249, 249, 0.03) 100.002%
      ),
      linear-gradient(
        122deg,
        rgba(150, 150, 150, 0.01) 0%,
        rgba(150, 150, 150, 0.01) 20%,
        rgba(252, 252, 252, 0.01) 20%,
        rgba(252, 252, 252, 0.01) 40%,
        rgba(226, 226, 226, 0.01) 40%,
        rgba(226, 226, 226, 0.01) 60%,
        rgba(49, 49, 49, 0.01) 60%,
        rgba(49, 49, 49, 0.01) 80%,
        rgba(94, 94, 94, 0.01) 80%,
        rgba(94, 94, 94, 0.01) 100%
      ),
      linear-gradient(
        295deg,
        rgba(207, 207, 207, 0.02) 0%,
        rgba(207, 207, 207, 0.02) 25%,
        rgba(47, 47, 47, 0.02) 25%,
        rgba(47, 47, 47, 0.02) 50%,
        rgba(142, 142, 142, 0.02) 50%,
        rgba(142, 142, 142, 0.02) 75%,
        rgba(76, 76, 76, 0.02) 75%,
        rgba(76, 76, 76, 0.02) 100%
      ),
      linear-gradient(
        73deg,
        rgba(81, 81, 81, 0.03) 0%,
        rgba(81, 81, 81, 0.03) 12.5%,
        rgba(158, 158, 158, 0.03) 12.5%,
        rgba(158, 158, 158, 0.03) 25%,
        rgba(136, 136, 136, 0.03) 25%,
        rgba(136, 136, 136, 0.03) 37.5%,
        rgba(209, 209, 209, 0.03) 37.5%,
        rgba(209, 209, 209, 0.03) 50%,
        rgba(152, 152, 152, 0.03) 50%,
        rgba(152, 152, 152, 0.03) 62.5%,
        rgba(97, 97, 97, 0.03) 62.5%,
        rgba(97, 97, 97, 0.03) 75%,
        rgba(167, 167, 167, 0.03) 75%,
        rgba(167, 167, 167, 0.03) 87.5%,
        rgba(22, 22, 22, 0.03) 87.5%,
        rgba(22, 22, 22, 0.03) 100%
      ),
      linear-gradient(90deg, hsl(137, 0%, 23%), hsl(137, 0%, 23%));
}


#root{
  
  font-family: roboto, sans-serif;
}


@media (prefers-color-scheme: dark){
  #root{
    @include darkmode;
  }
  .darklight-toggle{
    display: none;
  }
}

.body {
  height: 90vh;
  width: 100vw;
}
.lightmode {
  @include lightmode;
  color: black;
}
.darkmode {
  @include darkmode;
  color: white;
}
