$white: white;

.tab-wrap{
  display: flex;
flex-grow: 1;

.tab-select{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  
  button{
    margin-bottom: .3em;
    height: 3em;
  }
}
.tab-info{
  display: flex;
flex-grow: 1;
margin: 0 0 2em 2em;
  
  .tab-content{
    display: flex;
    .project-links{
      
      
      li{
        background: $white;
        height: 2.5em;
        width: 2.5em;
        border: 1px solid black;
        margin-top: 1em;
      }
    }
  }
}
}